@model  HistoryViewModel
@{
    ViewData["Title"]="Search History" ;
 }
<form asp-action="Index" method="get" style="margin-top:16px;">
    <div>
        <p>
            Find by query: <input type="text" name="CurrentFilter" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="button" style="padding-top: 1px;"/> |
            <a asp-action="Index">Clear filter</a>
        </p>
    </div>
</form>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Query</th>
            <th>Title</th>
            <th>Link</th>
            <th>Snippet</th>
            <th>Engine</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wp in Model.WebPages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => wp.Query)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wp.Title)
                </td>
                <td  class="break-all" >
                    <a href="@wp.Link">
                    @Html.DisplayFor(modelItem => wp.Link)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wp.Snippet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wp.Engine)
                </td>
            </tr>
        }
    </tbody>
</table>