@model SearchViewModel
@{
    ViewData["Title"] = Model.Title;
}
@using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "row" }))
{
    <input type="search" style="width:450px; margin-top:16px;" value="@Model.Query" placeholder="Search with fastest engine" name="q">
    <button type="submit" class="button button-primary" style="padding-top: 1px;">Search</button>
}

@foreach (var wp in Model.WebPages)
{
    <div class="row">
        <div class="one columns"><b>@Html.DisplayFor(modelItem => wp.Engine)</b></div>
        <div class="eleven columns">
            <a href="@wp.Link">
                <b>@Html.DisplayFor(modelItem => wp.Title)</b><br>
            </a>
            <span style="color: green;">
                @Html.DisplayFor(modelItem => wp.Link)
            </span>
            <p>@Html.DisplayFor(modelItem => wp.Snippet)</p>
        </div>
    </div>
}

